$transitionDelay: 0.3s;
$animationDelay: 0.3s;

.result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 15rem 5.7rem 6rem;
  width: 100%;

  @media (min-width: $stop-scaling) {
    padding: 150px 57px 60px;
  }

  @media (orientation: portrait) {
    padding: 8rem 0 4rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 8rem 0 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 3rem 0;
  }
}

.result__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;

  @media (orientation: portrait) {
    left: -1rem;
    right: -1rem;
  }

  picture {
    display: block;
    width: 100%;
    height: 100%;
  }

  img {
    position: absolute;
    left: 50%;
    display: block;
    object-fit: cover;
    object-position: center;
  }

  &-wrapper {
    position: absolute;
  }

  &-flamingo {
    top: 50%;
    transform: translate(-75%);
    height: 300px;

    &-wrapper {
      z-index: 3;
      width: 100%;
      height: 300px;
      transform: translate(-10%, 100%) scale(0.2);
      transition: transform 0.4s cubic-bezier(0.09, 0.38, 0.43, 1.21);
      transition-delay: $transitionDelay;
      transform-origin: bottom center;

      .screen--show & {
        transform: translate(0) scale(1);
      }

      img {
        animation-duration: 0.8s;
        animation-name: animateFlamingo;
        animation-delay: $transitionDelay;
        animation-play-state: paused;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        transform-origin: 100% 50%;

        .screen--show & {
          animation-play-state: running;
        }
        

        @keyframes animateFlamingo {
            0% {
              transform: translateX(-80%) rotate(0);
            }

            50% {
              transform: translateX(-80%) rotate(-1deg);
            }
      
            100% {
              transform: translate(-80%) rotate(0);
            }
          }
        }
    }
  }

  &-leaf_blue_1 {
    top: 45%;
    z-index: 1;
    height: 300px;

    &-wrapper {
      width: 100%;
      height: 300px;
      opacity: 0;
      transform-origin: bottom center;
      animation-name: animateLeaf1;
      animation-delay: $transitionDelay;
      animation-duration: 1.4s;
      animation-play-state: paused;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

      @keyframes animateLeaf1 {
        0% {
          opacity: 0;
          transform: rotate(-6deg);
        }

        25% {
          transform: rotate(2deg);
        }

        50% {
          opacity: 1;
          transform: rotate(-2deg);
        }

        75% {
          opacity: 1;
          transform: rotate(1deg);
        }


        85% {
          opacity: 1;
          transform: rotate(-1deg);
        }
  
        100% {
          opacity: 1;
          transform: rotate(0);
        }
      }

      .screen--show & {
        animation-play-state: running;
      }
    }
  }

  &-leaf_blue_2 {
    top: 55%;
    transform: translate(-100%);
    z-index: 1;
    height: 300px;

    &-wrapper {
      width: 100%;
      height: 300px;
      opacity: 0;
      animation-name: animateLeaf2;
      animation-delay: $transitionDelay;
      animation-duration: 1.2s;
      animation-play-state: paused;
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      animation-fill-mode: forwards;

      @keyframes animateLeaf2 {
        0% {
          opacity: 0;
          transform: rotate(6deg);
        }

        25% {
          transform: rotate(-2deg);
        }

        50% {
          opacity: 1;
          transform: rotate(2deg);
        }

        75% {
          opacity: 1;
          transform: rotate(-1deg);
        }

        85% {
          opacity: 1;
          transform: rotate(-1deg);
        }
  
        100% {
          opacity: 1;
          transform: rotate(0);
        }
      }

      .screen--show & {
        animation-play-state: running;
      }
    }
  }

  &-leaf_green {
    top: 55%;
    transform: translate(10%);
    height: 200px;

    &-wrapper {
      z-index: 1;
      width: 100%;
      height: 300px;
      opacity: 0;
      transform: rotate(-6deg);
      transition: transform 1.6s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.4s;
      transform-origin: bottom center;
      transition-delay: $transitionDelay;

      .screen--show & {
        opacity: 1;
        transform: rotate(0);
      }
    }
  }

  &-suitcase {
    top: 40%;
    transform: translate(-50%);

    &-wrapper {
      z-index: 2;
      width: 400px;
      height: 400px;
      transform: translate(-10%, 100%) scale(0.2);
      transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition-delay: $transitionDelay;

      .screen--show & {
        transform: translate(0) scale(1);
      }
    }
  }
}

.result__title {
  margin: 0 auto 2rem;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: 0 auto 20px;
  }

  @media (orientation: portrait) {
    margin-bottom: 1.5rem;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke-width: 0.2rem;
    stroke-linejoin: round;
  }
}

.result__text {
  margin-bottom: 2rem;
  text-align: center;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 0.906;
  letter-spacing: -0.01em;

  @media (min-width: $stop-scaling) {
    margin-bottom: 20px;
    font-size: 48px;
  }

  @media (orientation: portrait) {
    font-size: 2.8rem;
    line-height: 1.1;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 2.8rem;
  }

  p {
    margin: 0;
  }
}

.result__button {
  @include btn-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto auto 1rem;
  min-width: 34rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.2;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: auto auto 10px;
    min-width: 340px;
    font-size: 24px;
  }

  @media (orientation: portrait) {
    margin: auto 0 0;
    transform: none;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    transform: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin: auto 0 0;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  span {
    position: relative;
    margin-left: 1.5rem;
    width: 4rem;
    height: 4rem;
    color: $c-dark;

    @media (min-width: $stop-scaling) {
      margin-left: 15px;
      width: 40px;
      height: 40px;
    }

    &::before {
      @include center;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $c-light;
      border: 2px solid $c-light;
      border-radius: 50%;
      z-index: -1;
    }
  }

  svg {
    @include center;
    margin-left: 0.3rem;
    width: 2.4rem;
    height: 1.9rem;

    @media (min-width: $stop-scaling) {
      margin-left: 3px;
      width: 24px;
      height: 19px;
    }
  }

  &:hover {
    span::before {
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    outline: none;

    span::before {
      border-color: $c-purple;
    }
  }

  &:active,
  &:active:focus {
    span {
      color: $c-light;
    }

    span::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.result__form {
  margin-top: auto;

  .form__button {
    color: transparent;
    transition-delay: $transitionDelay;
    transition: color .6s ease;

    .screen--show & {
      color: #5f458c;
    }
  }
}

.result--trip,
.result--prize {
  .result__title {
    width: 57.3rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      width: 573px;
      height: 113px;
    }

    @media (orientation: portrait) {
      width: 28.7rem;
      height: 5.7rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 40rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-bottom: 0;
      width: 35rem;
    }
  }
}

.result--negative {
  .result__title {
    margin-top: 9.5rem;
    width: 66.5rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      margin-top: 95px;
      width: 665px;
      height: 113px;
    }

    @media (orientation: portrait) {
      margin-top: 0;
      width: 28.8rem;
      height: 4.9rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      margin-top: 0;
      width: 50rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 45rem;
    }
  }
}
